.item {
    border: solid --surface-border;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 0 1px 0;
}

small {
    left: 0;
    top: 85%;
}