# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor/
*.gz
*.bz
*.bz2
*.xz
*.7z
*.zip
*.db
*.log
*.sha256
*.sha256.txt

/static/3rdpartylicenses.txt

/.tmp/
/xray-webui
/xray-webuid
/bin/xray-webui
/bin/xray-webuid
/bin/var/
/bin/xray/
/bin/db.json

# grpc code
/protocol/
/static/document/api/
/static/view/
