<p [ngSwitch]="state">
    <ng-template ngSwitchCase="run">
        <p-card header="{{i18n.menuSettings.general| translate}}">
            <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </p-card>
    </ng-template>
    <ng-template ngSwitchCase="error">
        <p-card header="{{i18n.menuSettings.general | translate}}">
            <p-messages severity="error">
                <ng-template pTemplate>
                    <div class="ml-2">
                        <pre class="wrap-pre">{{error}}</pre>
                    </div>
                </ng-template>
            </p-messages>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                    <p-button label="{{i18n.refresh|translate}}" (onClick)="onClickRefresh()"></p-button>
                </div>
            </ng-template>
        </p-card>
    </ng-template>
    <ng-template ngSwitchCase="ok">
        <p-card header="{{i18n.menuSettings.general | translate}}">
            <div class="formgrid grid">
                <p class="field col-12 p-float-label">
                    <input type="text" pInputText [(ngModel)]="data.url" [disabled]="disabled" class="w-full" />
                    <label>{{i18n.general.url| translate}}</label>
                </p>
                <p class="field col-12 md:col-4  flex justify-content-start align-items-center">
                    <p-checkbox [(ngModel)]="data.run" label="{{i18n.general.run|translate}}" [binary]="true"
                        inputId="run" [disabled]="disabled"></p-checkbox>
                </p>
                <p class="field col-12 md:col-4  flex justify-content-start align-items-center">
                    <p-checkbox [(ngModel)]="data.firewall" label="{{i18n.general.firewall|translate}}" [binary]="true"
                        inputId="firewall" [disabled]="disabled"></p-checkbox>
                </p>
                <p class="field col-12 md:col-4 p-float-label">
                    <p-dropdown class="w-full" [styleClass]="'w-full'" [options]="strategys" [(ngModel)]="data.strategy"
                        [disabled]="disabled" optionLabel="name" optionValue="value" appendTo="body">
                    </p-dropdown>
                    <label>{{i18n.general.strategy| translate}}</label>
                </p>


                <p class="field col-12 p-float-label">
                    <textarea id="float-input-userdata" type="text" rows="8" pInputTextarea [(ngModel)]="data.userdata"
                        [disabled]="disabled" autocapitalize="off" autocomplete="off" autocorrect="off"
                        spellcheck="false"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                    <label for="float-input-userdata">{{i18n.general.custom| translate}}</label>
                </p>
            </div>

            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                    <p-progressSpinner *ngIf="disabled" styleClass="w-3rem h-3rem mr-2" strokeWidth="5"
                        fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                    <p-button label="{{i18n.button.submit|translate}}" (onClick)="onClickSubmit()"
                        [disabled]="disabled || isNotChanged">
                    </p-button>
                </div>
            </ng-template>
        </p-card>
    </ng-template>
</p>