<p [ngSwitch]="state">
    <ng-template ngSwitchCase="run">
        <p-card header="{{i18n.proxy.element| translate}}">
            <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </p-card>
    </ng-template>
    <ng-template ngSwitchCase="error">
        <p-card header="{{i18n.proxy.element | translate}}">
            <p-messages severity="error">
                <ng-template pTemplate>
                    <div class="ml-2">
                        <pre class="wrap-pre">{{error}}</pre>
                    </div>
                </ng-template>
            </p-messages>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-end">
                    <p-button label="{{i18n.refresh|translate}}" (onClick)="onClickRefresh()"></p-button>
                </div>
            </ng-template>
        </p-card>
    </ng-template>
    <ng-template ngSwitchCase="ok">
        <p-accordion [activeIndex]="activeIndex" (activeIndexChange)="activeIndexChange($event)">
            <p-accordionTab>
                <ng-template pTemplate="header">

                    <ng-container *ngIf="last then startedView;else stoppedView;"></ng-container>
                    <ng-template #startedView>
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-slack"></i>
                            <span class="nowrap vertical-align-middle">{{i18n.proxy.started|translate}}</span>
                            <span class="nowrap vertical-align-middle">{{last?.name}}</span>
                        </div>
                    </ng-template>
                    <ng-template #stoppedView>
                        <div class="flex align-items-center gap-2">
                            <i class="pi pi-slack"></i>
                            <span class="nowrap vertical-align-middle">{{i18n.proxy.none|translate}}</span>
                        </div>
                    </ng-template>
                </ng-template>
                <ng-template pTemplate="content">
                    <app-terminal *ngIf="activeIndex==0"></app-terminal>
                </ng-template>
            </p-accordionTab>

            <p-accordionTab *ngFor="let item of items; let i=index; let odd=odd; trackBy: trackById">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center">
                        <i class="pi pi-tags mr-2"></i>
                        <ng-container *ngIf="i==0 then manualView;else autoView;"></ng-container>
                        <ng-template #manualView>
                            <span class="nowrap vertical-align-middle">{{i18n.proxy.manual|translate}} -
                                {{item.data.length}}</span>
                        </ng-template>
                        <ng-template #autoView>
                            <span class="nowrap vertical-align-middle">{{item.name}} - {{item.data.length}}</span>
                        </ng-template>
                        <i class="primary-color pi pi-check ml-2 ml-2" *ngIf="isRun(item)"></i>

                    </div>
                </ng-template>

                <ng-template pTemplate="content">
                    <div [class]="disabledClass('flex flex-wrap gap-2',item)">
                        <i pRipple class="pi pi-sort-amount-down-alt text-2xl cursor-pointer"
                            pTooltip="{{i18n.proxy.sort|translate}}" tooltipPosition="bottom"
                            (click)="onClickSort(item)"></i>
                        <i pRipple class="pi pi-bolt text-2xl cursor-pointer" pTooltip="{{i18n.proxy.test|translate}}"
                            tooltipPosition="bottom" (click)="onClickTest(item)"></i>
                        <i pRipple class="pi pi-plus text-2xl cursor-pointer" pTooltip="{{i18n.proxy.add|translate}}"
                            tooltipPosition="bottom" (click)="onClickAdd(item)"></i>
                        <i pRipple class="pi pi-file-import text-2xl cursor-pointer"
                            pTooltip="{{i18n.proxy.importNode|translate}}" tooltipPosition="bottom"
                            (click)="onClickImport(item)"></i>
                        <i pRipple class="pi pi-times text-2xl cursor-pointer" pTooltip="{{i18n.proxy.clear|translate}}"
                            tooltipPosition="bottom" (click)="onClickClear(item)"></i>
                        <i pRipple class="pi pi-qrcode text-2xl cursor-pointer" pTooltip="{{i18n.proxy.qr|translate}}"
                            tooltipPosition="bottom" (click)="onClickQR(item)"></i>
                        <i pRipple class="pi pi-copy text-2xl cursor-pointer" pTooltip="{{i18n.proxy.copy|translate}}"
                            tooltipPosition="bottom" (click)="onClickCopy(item)"></i>
                        <i pRipple class="pi pi-sync text-2xl cursor-pointer" pTooltip="{{i18n.proxy.update|translate}}"
                            tooltipPosition="bottom" (click)="onClickUpdate(item)" *ngIf="i!=0"></i>

                        <p-progressSpinner *ngIf="item.disabled" [style]="{width: '1.75rem', height: '1.75rem'}"
                            strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                    </div>
                    <br>
                    <div class="formgrid grid">
                        <p class="field col-12 p-float-label">
                            <p-dropdown class="w-full" [styleClass]="'w-full'" [options]="strategys"
                                [(ngModel)]="strategy" [disabled]="disabled||item.disabled" optionLabel="name"
                                optionValue="value" appendTo="body">
                            </p-dropdown>
                            <label>{{i18n.general.strategy| translate}}</label>
                        </p>
                    </div>

                    <p-dataView [value]="item.data" [rows]="item.data.length" [paginator]="false">
                        <ng-template let-node pTemplate="listItem">
                            <div [class]="disabledClass('col-12 border-round-md p-2',item)">
                                <form #form="ngForm">
                                    <div class="flex flex-row gap-3 align-items-center">
                                        <i class="pi pi-tag text-2xl"></i>
                                        <ng-container *ngIf="node.metadata; then metadataView;else noMetadataView">
                                        </ng-container>

                                        <ng-template #metadataView>
                                            <div class="flex-grow-1">
                                                <div class="text-xl">
                                                    {{node.name}}
                                                </div>
                                                <div class="text-base">
                                                    {{getLabel(node.metadata?.label,node.url?.scheme)}} ->
                                                    {{node.describe}}
                                                </div>
                                                <div *ngIf="node.error" class="p-error">{{node.error}}</div>
                                                <div *ngIf="node.millisecond!=undefined">{{node.millisecond}}
                                                    millisecond</div>
                                            </div>

                                            <p-progressSpinner *ngIf="node.disabled"
                                                [style]="{width: '1.75rem', height: '1.75rem'}" strokeWidth="5"
                                                fill="var(--surface-ground)" animationDuration=".5s">
                                            </p-progressSpinner>
                                            <ng-container
                                                *ngIf="isStarted(item,node); then startedView;else stopedView">
                                            </ng-container>
                                            <ng-template #stopedView>
                                                <p-splitButton label="{{i18n.button.start|translate}}"
                                                    icon="pi pi-chevron-circle-right"
                                                    styleClass="p-button-raised p-button-text nowrap" appendTo="body"
                                                    [model]="createMenus(item,node)" (onClick)="onClickPlay(item,node)">
                                                </p-splitButton>
                                            </ng-template>
                                            <ng-template #startedView>
                                                <p-splitButton label="{{i18n.button.stop|translate}}"
                                                    icon="pi pi-stop-circle"
                                                    styleClass="p-button-raised p-button-text nowrap" appendTo="body"
                                                    [model]="createMenus(item,node)" (onClick)="onClickStop(item,node)">
                                                </p-splitButton>
                                            </ng-template>

                                        </ng-template>
                                        <ng-template #noMetadataView>
                                            <div class="flex-grow-1">
                                                {{node.rawURL}}
                                            </div>
                                            <p-progressSpinner *ngIf="node.disabled"
                                                [style]="{width: '1.75rem', height: '1.75rem'}" strokeWidth="5"
                                                fill="var(--surface-ground)" animationDuration=".5s">
                                            </p-progressSpinner>
                                            <p-splitButton label="{{i18n.delete|translate}}" icon="pi pi-trash"
                                                styleClass="p-button-raised p-button-text nowrap"
                                                (onClick)="onClickDelete(item,node)" dTo="body"
                                                [model]="createMenus(item,node)">
                                            </p-splitButton>
                                        </ng-template>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                    </p-dataView>

                </ng-template>
            </p-accordionTab>

        </p-accordion>
    </ng-template>
</p>

<button #btnClipboard class="hide" data-clipboard-text="">copy</button>
<p-confirmDialog #cd [style]="{width: '80vw'}" appendTo="body">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="{{i18n.action.sure|translate}}"
            (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="{{i18n.action.cancel|translate}}"
            (click)="cd.reject()"></button>
    </ng-template>
</p-confirmDialog>

<p-dialog header="{{(dialog.isAdd?i18n.proxy.add:i18n.proxy.edit)|translate}}" [(visible)]="dialog.visible"
    [style]="{width: '80vw'}" [maximizable]="true" [modal]="true" [closable]="false" [draggable]="false"
    appendTo="body">
    <div *ngIf="dialog.visible" class="flex flex-wrap dialog-view">
        <div class="col-12 flex gap-2">
            <div class="p-inputgroup">
                <input type="text" [placeholder]="i18n.proxy.placeholderURL|translate" pInputText [disabled]="disabled"
                    class="w-full" [(ngModel)]="dialog.importStr" [disabled]="dialog.disabled" />
                <button type="button" pButton label="{{i18n.import|translate}}" (click)="dialog.onClickImport()"
                    [disabled]="dialog.disabled"></button>
            </div>
        </div>
        <p-dropdown class="col-12" [styleClass]="'col-12'" [options]="dialog.getMetadata()"
            [(ngModel)]="dialog.metadata" [disabled]="dialog.disabled" optionLabel="name" appendTo="body">
        </p-dropdown>

        <app-ui-field *ngFor="let field of dialog?.metadata?.fields??[]" [class]="field.class" [field]="field"
            [value]="dialog.value(field.key)!" [disabled]="dialog.disabled">
        </app-ui-field>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <p-progressSpinner *ngIf="dialog.disabled" styleClass="w-3rem h-3rem mr-2" strokeWidth="5"
                fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            <p-button label="{{i18n.button.submit|translate}}" (onClick)="dialog.onClickSubmit()"
                [disabled]="dialog.disabled || dialog.isNotChanged"></p-button>
            <p-button label="{{i18n.button.close|translate}}" (onClick)="dialog.onClickClose()"
                [disabled]="dialog.disabled">
            </p-button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="{{i18n.proxy.importNode|translate}}" [(visible)]="dialogImport.visible" [style]="{width: '80vw'}"
    [maximizable]="true" [modal]="true" [closable]="false" [draggable]="false" appendTo="body">
    <div *ngIf="dialogImport.visible" class="flex flex-wrap dialog-view">
        <div class="col-12">
            <div class="field p-float-label">
                <textarea rows="12" pInputTextarea [(ngModel)]="dialogImport.value" autocapitalize="off"
                    autocomplete="off" autocorrect="off" spellcheck="false"
                    [disabled]="dialogImport.disabled"></textarea>
                <label>{{i18n.proxy.importNode|translate}}</label>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
            <p-progressSpinner *ngIf="dialogImport.disabled" styleClass="w-3rem h-3rem mr-2" strokeWidth="5"
                fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            <p-button label="{{i18n.button.submit|translate}}" (onClick)="dialogImport.onClickSubmit()"
                [disabled]="dialogImport.disabled||dialogImport.isNotChanged"></p-button>
            <p-button label="{{i18n.button.close|translate}}" (onClick)="dialogImport.onClickClose()"
                [disabled]="dialogImport.disabled">
            </p-button>
        </div>
    </ng-template>
</p-dialog>